doctype html
html
    head
        title Test
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-1.11.3.min.js')
        script(src='//www.parsecdn.com/js/parse-1.6.7.min.js')
        script(src='home.js')
    body
        .row
            .six.columns               
            #content.four.columns.pull-two
                block content
