extends layout

block content
    h1 Your results
    each genotype, i in genotypes
        p <b>#{names[genotype.id]}</b> has genotype <b>#{genotype}</b>
        div
          - console.log('test')
        div
