extends layout

block append head
    script
        var data = !{JSON.stringify(parseData)}
    script(src='js/results.js')

block content    
    h1 Your results
    each genotype, i in genotypes
        p <b>#{names[genotype.id]}</b> has genotype <b>!{JSON.stringify(genotype)}</b>
    
    each data, i in parseData
        p !{JSON.stringify(parseData)}
        
    .ui.middle.aligned.center.aligned.grid
      .content
        form.ui.large.form
          .ui.stacked.segment
            .ui.styled.accordion
              .title
                i.dropdown.icon
                |  Stomach Pain
              .content
                p.transition.hidden
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi delectus a esse repellat, consequuntur eaque molestias aliquam sed, est, voluptatibus culpa enim expedita veniam ducimus unde beatae suscipit quasi ratione.
                a.pubmed Pubmed Link
              .title
                i.dropdown.icon
                |  Chest Pain
              .content
                p.transition.hidden
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis deserunt vitae minima ipsa asperiores dolore fugit reprehenderit ex voluptatibus libero! Obcaecati labore id laborum voluptas, temporibus, quas accusamus cumque illo.
                a.pubmed Pubmed Link
              .title
                i.dropdown.icon
                |  Seizures
              .content
                p.transition.hidden
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, recusandae? Iste neque nemo mollitia, natus, aliquam voluptatem dignissimos ipsa inventore sequi quasi aperiam, sunt debitis a totam cupiditate corporis asperiores!
                a.pubmed Pubmed Link    
