extends layout

block content
    h1 Your results
    each genotype, i in genotypes
        p <b>#{names[genotype.id]}</b> has genotype <b>!{JSON.stringify(genotype)}</b>
    
    each data, i in parseData
        p !{JSON.stringify(parseData)}
